<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#">
          <div class="rdf__element rdf__element-logo">
            <p class="rdf__element-number">76</p>
            <p class="rdf__element-symbol">Fr</p>
            <p class="rdf__element-name">Freitas</p>
          </div>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element">
                  <p class="rdf__element-number">01</p>
                  <p class="rdf__element-symbol">Sm</p>
                  <p class="rdf__element-name">Sobre mim</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element">
                  <p class="rdf__element-number">02</p>
                  <p class="rdf__element-symbol">S</p>
                  <p class="rdf__element-name">Serviços</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element">
                  <p class="rdf__element-number">03</p>
                  <p class="rdf__element-symbol">Pf</p>
                  <p class="rdf__element-name">Portfolio</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element">
                  <p class="rdf__element-number">04</p>
                  <p class="rdf__element-symbol">B</p>
                  <p class="rdf__element-name">Blog</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element">
                  <p class="rdf__element-number">05</p>
                  <p class="rdf__element-symbol">Ct</p>
                  <p class="rdf__element-name">Contato</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  