<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active-link"  href="/">
          <div class="rdf__element d-flex flex-column justify-content-between rdf__element-logo">
            <p class="rdf__element-number body-small">76</p>
            <p class="rdf__element-symbol align-self-center headline-medium text-uppercase">Fr</p>
            <p class="rdf__element-name align-self-center text-center body-small">Freitas</p>
          </div>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink='sobre-mim' routerLinkActive="active-link"  href="/sobre-mim">
                <div class="rdf__element d-flex flex-column justify-content-between">
                  <p class="rdf__element-number body-small">01</p>
                  <p class="rdf__element-symbol align-self-center headline-medium text-uppercase">Sm</p>
                  <p class="rdf__element-name body-small align-self-center text-center">Sobre mim</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='services' routerLinkActive="active-link"  href="/services">
                <div class="rdf__element d-flex flex-column justify-content-between">
                  <p class="rdf__element-number body-small">02</p>
                  <p class="rdf__element-symbol align-self-center headline-medium text-uppercase">S</p>
                  <p class="rdf__element-name body-small align-self-center text-center">Serviços</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element d-flex flex-column justify-content-between">
                  <p class="rdf__element-number body-small">03</p>
                  <p class="rdf__element-symbol align-self-center headline-medium text-uppercase">Pf</p>
                  <p class="rdf__element-name body-small align-self-center text-center">Portfolio</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element d-flex flex-column justify-content-between">
                  <p class="rdf__element-number body-small">04</p>
                  <p class="rdf__element-symbol align-self-center headline-medium text-uppercase">B</p>
                  <p class="rdf__element-name body-small align-self-center text-center">Blog</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="rdf__element d-flex flex-column justify-content-between">
                  <p class="rdf__element-number body-small">05</p>
                  <p class="rdf__element-symbol align-self-center headline-medium text-uppercase">Ct</p>
                  <p class="rdf__element-name body-small align-self-center text-center">Contato</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  