<footer>
    <div class="container rdf__footer flex flex-row justify-between align-items-start">
        <img class="img-fluid rdf__logo" src="assets/images/freitas_logo_tp_transparent.png" alt="Logo em forma de tabela periódica com 3 elementos que formam o nome do autor">
        <div class="rdf__footer-info">
            <p><a href="mailto:rodrigo.d.freitas@outlook.com" class="rdf__link">rodrigo.d.freitas&#64;outlook.com</a></p>
            <p class="rdf__link">+55 21 975775481</p>
            <div class="flex flex-row">
                <img src="assets/images/gr_instagram.png" alt="Imagem que representa a logo do Instagram">
                <img src="assets/images/gr_github.png" alt="Imagem que representa a logo do Github">
                <img src="assets/images/gr_linkedin.png" alt="Imagem que representa a logo do Linkedin">
            </div>
        </div>
    </div>
</footer>
