<footer class="bg-primary-100 text-neutral-100 py-12">
  <div class="container mx-auto flex flex-col lg:flex-row justify-between items-start gap-8 px-4">
    
    <!-- LOGO -->
    <img
      class="w-32 h-auto"
      src="assets/images/freitas_logo_tp_transparent.png"
      alt="Logo em forma de tabela periódica com 3 elementos que formam o nome do autor"
    />

    <!-- INFOS -->
    <div class="flex flex-col gap-4 text-background-200">
      <p>
        <a href="mailto:rodrigo.d.freitas@outlook.com" class="hover:underline">
          rodrigo.d.freitas&#64;outlook.com
        </a>
      </p>
      <p>+55 21 97577-5481</p>

      <!-- REDES SOCIAIS -->
      <div class="flex mt-2">
        <a href="https://instagram.com/rdfreita" target="_blank" aria-label="Instagram">
          <img src="assets/images/gr_instagram.png" alt="Instagram logo" class="w-20 h-20" />
        </a>
        <a href="https://github.com/rodrigo-dias-freitas" target="_blank" aria-label="GitHub">
          <img src="assets/images/gr_github.png" alt="GitHub logo" class="w-20 h-20" />
        </a>
        <a href="https://linkedin.com/in/rdfreitas" target="_blank" aria-label="LinkedIn">
          <img src="assets/images/gr_linkedin.png" alt="LinkedIn logo" class="w-20 h-20" />
        </a>
      </div>
    </div>
  </div>
</footer>

