<div class="container mx-auto rdf__contact py-16">
    <div class="flex flex-row  mb-32">
        <app-element
            extraClass = "bg-highlight-100 text-neutral-100"
            name="Ct"
            number = "05"
            description = "Contato"></app-element>

        <div class="ml-10">
            <h2 class="text-neutral-100 text-4xl font-semibold">Entre em contato</h2>
            <p class="text-neutral-100 text-base">Fale comigo para orçamentos, dúvidas ou colaborações. Respondo o mais rápido possível!</p>

            <app-form></app-form>
        </div>
    </div>
</div>