<div class="container mx-auto flex flex-row rdf__contact py-16">
    <div class="flex flex-row  mb-32">
        <app-element
            extraClass = "bg-highlight-100 text-neutral-100"
            name="Ct"
            number = "05"
            description = "Contato"></app-element>

        <div class="ml-10">
            <h2 class="text-neutral-100 text-4xl font-semibold">Entre em contato</h2>
            <p class="text-neutral-100 text-base">Fale comigo para orçamentos, dúvidas ou colaborações. Respondo o mais rápido possível!</p>

            <div class="mt-8">
                <app-form></app-form>
            </div>
        </div>
    </div>
    <div class="ml-36 pt-6">
        <p class="text-base text-neutral-100 mb-4">Caso o visitante prefira entrar em contato direto:</p>
        <ul>
            <li class="mb-2">
                <img src="../../../assets/images/email.png" class="w-4 h-4 inline-block">
                <span class="text-base text-neutral-100 ml-2">rodrigo.d.freitas&#64;outlook.com</span>
            </li>
            <li>
                <img src="../../../assets/images/smartphone.png" class="w-4 h-4 inline-block">
                <span class="text-base text-neutral-100 ml-2">(21) 975775481</span>
            </li>
        </ul>
    </div>
</div>