:root{

    /* Cor Primária */
    --rdf__primary-100: #001133;
    --rdf__primary-200: #001A3A;
    --rdf__primary-300: #002266;
    --rdf__primary-400: #000D1A;
    --rdf__primary-500: #00061F;

    /* Cor de Destaque */
    --rdf__accent-100: #FF4433;
    --rdf__accent-200: #FF6655;
    --rdf__accent-300: #FF8877;
    --rdf__accent-400: #CC3729;
    --rdf__accent-500: #993026;
    
    /* Cor de Realce */
    --rdf__highlight-100: #FFDD00;
    --rdf__highlight-200: #FFEE66;
    --rdf__highlight-300: #FFFF99;
    --rdf__highlight-400: #CCB300;
    --rdf__highlight-500: #998900;
    
    /* Cor de Fundo */
    --rdf__background-100: #FFFFFF;
    --rdf__background-200: #F2F2F2;
    --rdf__background-300: #E6E6E6;
    
    /* Cor Neutra */
    --rdf__neutral-100: #333333;
    --rdf__neutral-200: #4D4D4D;

}