<div class="container mx-auto py-16 max-w-4xl px-4 text-neutral-100" *ngIf="post">
    <a routerLink="/blog" class="inline-flex items-center text-accent-100 hover:underline mb-8">
        ← Voltar para o blog
    </a>
    <h1 class="text-4xl md:text-5xl font-bold leading-tight mb-6">{{post.title.rendered}}</h1>

    <p class="text-sm text-neutral-400 mb-6">
        Por {{ post._embedded?.author?.[0]?.name || 'Autor desconhecido' }} •
        {{ post.date | date: 'longDate' }}
    </p>

  <img *ngIf="post._embedded?.['wp:featuredmedia']?.[0]?.source_url"
       [src]="post._embedded['wp:featuredmedia'][0].source_url"
       alt="Imagem destacada"
       class="w-full h-auto rounded-lg shadow-md mb-10"/>

  <div class="prose prose-invert prose-lg leading-relaxed text-neutral-100 max-w-none" [innerHTML]="post.content.rendered"></div>

  <!-- Navegação entre posts -->
  <div class="flex justify-between items-center mt-12 border-t pt-6 text-neutral-100 text-sm">
    <div *ngIf="previousPost">
        <a *ngIf="previousPost" [routerLink]="['/blog', previousPost.slug]" class="hover:underline">
            ← {{ previousPost.title.rendered }}
        </a>
    </div>
    
    <div *ngIf="nextPost" class="text-right">
        <a [routerLink]="['/blog', nextPost.slug]" class="hover:underline">
            {{ nextPost.title.rendered }} →
        </a>
    </div>
  </div>
</div>

