@import '../../../../public/assets/variables';
@import '../../../../public/assets/mixins';

.rdf__QElement{

    width: 100px;
    height: 100px;
    padding: 8px;
    font-size: map-get($font-sizes, small);
    border: 1px solid #333;
    
    p{
        margin: 0;
    }

    &-name{
        font-weight: map-get($font-weights, bold);
        text-transform: uppercase;
        font-size: map-get($font-sizes, regular);
    }
}