.roboto-thin {
  font-family: "Roboto", system-ui;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", system-ui;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: italic;
}

.roboto-bolder {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;
}

.roboto-bolder-italic {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: italic;
}

.bg-primary-100 {
  background-color: #001133;
}

.text-primary-100 {
  color: #001133;
}

.bg-primary-100-hover:hover {
  background-color: #001133;
}

.text-primary-100-hover:hover {
  color: #001133;
}

.bg-primary-100-focus:focus {
  background-color: #001133;
}

.text-primary-100-focus:focus {
  color: #001133;
}

.bg-primary-200 {
  background-color: #001A3A;
}

.text-primary-200 {
  color: #001A3A;
}

.bg-primary-200-hover:hover {
  background-color: #001A3A;
}

.text-primary-200-hover:hover {
  color: #001A3A;
}

.bg-primary-200-focus:focus {
  background-color: #001A3A;
}

.text-primary-200-focus:focus {
  color: #001A3A;
}

.bg-primary-300 {
  background-color: #002266;
}

.text-primary-300 {
  color: #002266;
}

.bg-primary-300-hover:hover {
  background-color: #002266;
}

.text-primary-300-hover:hover {
  color: #002266;
}

.bg-primary-300-focus:focus {
  background-color: #002266;
}

.text-primary-300-focus:focus {
  color: #002266;
}

.bg-primary-400 {
  background-color: #000D1A;
}

.text-primary-400 {
  color: #000D1A;
}

.bg-primary-400-hover:hover {
  background-color: #000D1A;
}

.text-primary-400-hover:hover {
  color: #000D1A;
}

.bg-primary-400-focus:focus {
  background-color: #000D1A;
}

.text-primary-400-focus:focus {
  color: #000D1A;
}

.bg-primary-500 {
  background-color: #00061F;
}

.text-primary-500 {
  color: #00061F;
}

.bg-primary-500-hover:hover {
  background-color: #00061F;
}

.text-primary-500-hover:hover {
  color: #00061F;
}

.bg-primary-500-focus:focus {
  background-color: #00061F;
}

.text-primary-500-focus:focus {
  color: #00061F;
}

.bg-accent-100 {
  background-color: #FF4433;
}

.text-accent-100 {
  color: #FF4433;
}

.bg-accent-100-hover:hover {
  background-color: #FF4433;
}

.text-accent-100-hover:hover {
  color: #FF4433;
}

.bg-accent-100-focus:focus {
  background-color: #FF4433;
}

.text-accent-100-focus:focus {
  color: #FF4433;
}

.bg-accent-200 {
  background-color: #FF6655;
}

.text-accent-200 {
  color: #FF6655;
}

.bg-accent-200-hover:hover {
  background-color: #FF6655;
}

.text-accent-200-hover:hover {
  color: #FF6655;
}

.bg-accent-200-focus:focus {
  background-color: #FF6655;
}

.text-accent-200-focus:focus {
  color: #FF6655;
}

.bg-accent-300 {
  background-color: #FF8877;
}

.text-accent-300 {
  color: #FF8877;
}

.bg-accent-300-hover:hover {
  background-color: #FF8877;
}

.text-accent-300-hover:hover {
  color: #FF8877;
}

.bg-accent-300-focus:focus {
  background-color: #FF8877;
}

.text-accent-300-focus:focus {
  color: #FF8877;
}

.bg-accent-400 {
  background-color: #CC3729;
}

.text-accent-400 {
  color: #CC3729;
}

.bg-accent-400-hover:hover {
  background-color: #CC3729;
}

.text-accent-400-hover:hover {
  color: #CC3729;
}

.bg-accent-400-focus:focus {
  background-color: #CC3729;
}

.text-accent-400-focus:focus {
  color: #CC3729;
}

.bg-accent-500 {
  background-color: #993026;
}

.text-accent-500 {
  color: #993026;
}

.bg-accent-500-hover:hover {
  background-color: #993026;
}

.text-accent-500-hover:hover {
  color: #993026;
}

.bg-accent-500-focus:focus {
  background-color: #993026;
}

.text-accent-500-focus:focus {
  color: #993026;
}

.bg-highlight-100 {
  background-color: #FFDD00;
}

.text-highlight-100 {
  color: #FFDD00;
}

.bg-highlight-100-hover:hover {
  background-color: #FFDD00;
}

.text-highlight-100-hover:hover {
  color: #FFDD00;
}

.bg-highlight-100-focus:focus {
  background-color: #FFDD00;
}

.text-highlight-100-focus:focus {
  color: #FFDD00;
}

.bg-highlight-200 {
  background-color: #FFEE66;
}

.text-highlight-200 {
  color: #FFEE66;
}

.bg-highlight-200-hover:hover {
  background-color: #FFEE66;
}

.text-highlight-200-hover:hover {
  color: #FFEE66;
}

.bg-highlight-200-focus:focus {
  background-color: #FFEE66;
}

.text-highlight-200-focus:focus {
  color: #FFEE66;
}

.bg-highlight-300 {
  background-color: #FFFF99;
}

.text-highlight-300 {
  color: #FFFF99;
}

.bg-highlight-300-hover:hover {
  background-color: #FFFF99;
}

.text-highlight-300-hover:hover {
  color: #FFFF99;
}

.bg-highlight-300-focus:focus {
  background-color: #FFFF99;
}

.text-highlight-300-focus:focus {
  color: #FFFF99;
}

.bg-highlight-400 {
  background-color: #CCB300;
}

.text-highlight-400 {
  color: #CCB300;
}

.bg-highlight-400-hover:hover {
  background-color: #CCB300;
}

.text-highlight-400-hover:hover {
  color: #CCB300;
}

.bg-highlight-400-focus:focus {
  background-color: #CCB300;
}

.text-highlight-400-focus:focus {
  color: #CCB300;
}

.bg-highlight-500 {
  background-color: #998900;
}

.text-highlight-500 {
  color: #998900;
}

.bg-highlight-500-hover:hover {
  background-color: #998900;
}

.text-highlight-500-hover:hover {
  color: #998900;
}

.bg-highlight-500-focus:focus {
  background-color: #998900;
}

.text-highlight-500-focus:focus {
  color: #998900;
}

.bg-background-100 {
  background-color: #FFFFFF;
}

.text-background-100 {
  color: #FFFFFF;
}

.bg-background-100-hover:hover {
  background-color: #FFFFFF;
}

.text-background-100-hover:hover {
  color: #FFFFFF;
}

.bg-background-100-focus:focus {
  background-color: #FFFFFF;
}

.text-background-100-focus:focus {
  color: #FFFFFF;
}

.bg-background-200 {
  background-color: #F2F2F2;
}

.text-background-200 {
  color: #F2F2F2;
}

.bg-background-200-hover:hover {
  background-color: #F2F2F2;
}

.text-background-200-hover:hover {
  color: #F2F2F2;
}

.bg-background-200-focus:focus {
  background-color: #F2F2F2;
}

.text-background-200-focus:focus {
  color: #F2F2F2;
}

.bg-background-300 {
  background-color: #E6E6E6;
}

.text-background-300 {
  color: #E6E6E6;
}

.bg-background-300-hover:hover {
  background-color: #E6E6E6;
}

.text-background-300-hover:hover {
  color: #E6E6E6;
}

.bg-background-300-focus:focus {
  background-color: #E6E6E6;
}

.text-background-300-focus:focus {
  color: #E6E6E6;
}

.bg-neutral-100 {
  background-color: #333333;
}

.text-neutral-100 {
  color: #333333;
}

.bg-neutral-100-hover:hover {
  background-color: #333333;
}

.text-neutral-100-hover:hover {
  color: #333333;
}

.bg-neutral-100-focus:focus {
  background-color: #333333;
}

.text-neutral-100-focus:focus {
  color: #333333;
}

.bg-neutral-200 {
  background-color: #4D4D4D;
}

.text-neutral-200 {
  color: #4D4D4D;
}

.bg-neutral-200-hover:hover {
  background-color: #4D4D4D;
}

.text-neutral-200-hover:hover {
  color: #4D4D4D;
}

.bg-neutral-200-focus:focus {
  background-color: #4D4D4D;
}

.text-neutral-200-focus:focus {
  color: #4D4D4D;
}

.rdf__QElement {
  width: 100px;
  height: 100px;
  padding: 8px;
  font-size: 0.75rem;
  border: 1px solid #333;
}
.rdf__QElement p {
  margin: 0;
}
.rdf__QElement-name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}/*# sourceMappingURL=element.component.css.map */