<div class="container rdf__services">
    <div class="d-flex flex-row">
        <app-element
        extraClass = "bg-highlight-100 text-neutral-100"
        name = "S"
        number = "02"
        description = "Serviços"></app-element>

        <p class="p__margin-left-medium">A seguir, conheça os detalhes dos serviços que ofereço para atender suas necessidades</p>
    </div>

    <div class="accordion accordion-flush">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Consultoria Financeira Familiar e Pessoal
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Nossa consultoria em planejamento financeiro pessoal e familiar oferece um diagnóstico financeiro personalizado, planejamento de investimentos, controle de despesas, educação financeira e suporte contínuo, tudo com o objetivo de alcançar a tranquilidade financeira e um futuro próspero. Com formação sólida em Gestão Financeira, um MBA em Planejamento Financeiro e vasta experiência no mercado, proporcionamos soluções personalizadas que realmente fazem a diferença. Transforma seu futuro financeiro hoje.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    Consultoria Financeira Familiar e Pessoal
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Nossa consultoria em planejamento financeiro pessoal e familiar oferece um diagnóstico financeiro personalizado, planejamento de investimentos, controle de despesas, educação financeira e suporte contínuo, tudo com o objetivo de alcançar a tranquilidade financeira e um futuro próspero. Com formação sólida em Gestão Financeira, um MBA em Planejamento Financeiro e vasta experiência no mercado, proporcionamos soluções personalizadas que realmente fazem a diferença. Transforma seu futuro financeiro hoje.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
