<div class="rdf__banner">
    <img src="assets/images/banner__principal-sem-texto.png" class="img-fluid rdf__banner-image">
    <div class="rdf__banner-text container">
        <p>Soluções para sua vida</p>
        <p>Pessoal</p>
        <p>Familiar</p>
        <p>Empresarial</p>
        <app-button
            label="Entre em contato"
            type="rdf__button-primary"
            link=""></app-button>
    </div>
</div>
<div class="rdf__title container">
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" src="assets/images/freitas_logo_tp_transparent.png" alt="Logo em forma de tabela periódica com 3 elementos que formam o nome do autor"> 
        </div>
        <div class="offset-1 col">
            <div class="rdf__line col-2"></div>
            <ul>
                <li class="h2">UI Designer</li>
                <li class="h2">Desenvolvedor web</li>
                <li class="h2">Planejador financeiro</li>
            </ul>
        </div>
    </div>
</div>
<div class="rdf__info">
    <div class="container d-flex flex-column">
        <p>Sou um profissional multifacetado com experiência sólida em planejamento financeiro, design de UI e desenvolvimento web. Com uma formação robusta em Gestão Financeira e um MBA em Planejamento Financeiro Pessoal e Familiar, ajudo indivíduos e famílias a alcançarem seus objetivos financeiros por meio de estratégias personalizadas e eficazes. Além disso, possuo habilidades avançadas em design de interfaces, criando experiências de usuário intuitivas e atraentes. Minha expertise em desenvolvimento web me permite transformar conceitos em sites funcionais e esteticamente agradáveis, utilizando as melhores práticas e tecnologias modernas. Essa combinação única de habilidades me capacita a oferecer soluções completas e integradas, atendendo às necessidades de diversos clientes e projetos.</p>

        <div class="d-flex align-self-end">
            <app-button
                label="Sobre mim"
                type="rdf__button-primary"
                link="/sobre-mim"></app-button>
            
        </div>
        
    </div>

</div>
<div class="rdf__services">
    <div class="container">
        <fieldset>
            <legend>Serviços</legend>
            <ul class="rdf__services-list d-flex row justify-content-between">
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/consultoria-financeira-pessoal-familiar.png" alt="ícone do serviço de Consultoria Financeira">
                    <p class="rdf__services-text">Consultoria Financeira</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/planejamento-aposentadoria.png" alt="ícone do serviço de Planejamento de Aposetadoria">
                    <p class="rdf__services-text">Planejamento de Aposentadoria</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/planejamento-investimentos.png" alt="ícone do serviço de Planejamento de Investimentos">
                    <p class="rdf__services-text">Planejamento de Investimentos</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/gestao-dividas.png" alt="ícone do serviço de Gestão de Dívidas">
                    <p class="rdf__services-text">Gestão de Dívidas</p>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <ul class="rdf__services-list d-flex row justify-content-between">
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/design-interfaces-ui.png" alt="ícone do serviço de Design de Interfaces de Usuário (UI)">
                    <p class="rdf__services-text">Design de Interfaces de Usuário (UI)</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/design-responsivo.png" alt="ícone do serviço de Design Responsivo">
                    <p class="rdf__services-text">Design Responsivo</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/prototipagem-wireframing.png" alt="ícone do serviço de Prototipagem e Wireframing">
                    <p class="rdf__services-text">Prototipagem e Wireframing</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/identidade-visual.png" alt="ícone do serviço de Design de Marca e Identidade Visual">
                    <p class="rdf__services-text">Design de Marca e Identidade Visual</p>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <ul class="rdf__services-list d-flex row justify-content-between">
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/desenvolvimento-websites.png" alt="ícone do serviço de Desenvolvimento de Websites">
                    <p class="rdf__services-text">Desenvolvimento de Websites</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/desenvolvimento-aplicacoes-web.png" alt="ícone do serviço de Desenvolvimento de Aplicações Web">
                    <p class="rdf__services-text">Desenvolvimento de Aplicações Web</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/desenvolvimento-temas-wp.png" alt="ícone do serviço de Desenvolvimento de Temas para WordPress">
                    <p class="rdf__services-text">Desenvolvimento de Temas para WordPress</p>
                </li>
                <li class="d-flex col-6 align-items-center">
                    <img src="../../../assets/images/otimizacao-performances-website.png" alt="ícone do serviço de Otimização de Performance de Websites">
                    <p class="rdf__services-text">Otimização de Performance de Websites</p>
                </li>
            </ul>
        </fieldset>
    </div>
</div>
<div class="rdf__portfolio">
    <div class="container">
        <fieldset class="d-flex flex-row justify-content-end">
            <legend>Portfolio</legend>
        </fieldset>
        <div class="d-flex flex-column justify-content-start">
            <p>Confira alguns dos meus projetos recentes em planejamento financeiro, design de UI e desenvolvimento web.</p>
            <ul class="list-group list-group-flush rdf__portfolio-descrition">
                <li class="list-group-item">
                    <h3>Desenvolvimento de website para empresa de obras</h3>
                    <p>Desenvolvemos um site moderno e responsivo para uma empresa do segmento de construção civil. Utilizamos o Wordpress, uma ferramenta de gerenciamento de conteúdos, para dar total liberdade de atualização e gestão do site para o cliente.</p>
                </li>
            </ul>
            <p class="d-flex justify-content-start">
                <app-button
                    label="Veja mais informações"
                    type="rdf__button-primary"
                    link=""></app-button>
            </p>
            
        </div>
    </div>
</div>

