<div class="rdf__banner">
    <img src="assets/images/banner__principal-sem-texto.png" class="img-fluid rdf__banner-image">
    <div class="rdf__banner-text container mx-auto">
        <p class="mb-4 text-7xl">Soluções para sua vida</p>
        <p class="mb-4 text-7xl">Pessoal</p>
        <p class="mb-4 text-7xl">Familiar</p>
        <p class="mb-8 text-7xl">Empresarial</p>
        <app-button
            label="Entre em contato"
            variant="accent"
            size="medium"
            link=""></app-button>
    </div>
</div>
<div class="rdf__title container mx-auto">
    <div class="flex flex-row">
        <div class="col-3">
            <img class="img-fluid" src="assets/images/freitas_logo_tp_transparent.png" alt="Logo em forma de tabela periódica com 3 elementos que formam o nome do autor"> 
        </div>
        <div class="offset-1 col ml-16">
            <div class="rdf__line col-2"></div>
            <ul>
                <li class="display-large">UI Designer</li>
                <li class="display-large">Desenvolvedor web</li>
                <li class="display-large">Planejador financeiro</li>
            </ul>
        </div>
    </div>
</div>
<div class="rdf__info">
    <div class="container mx-auto flex flex-col">
        
        <div *ngIf="resumoSobreMim" class="text-base text-background-200" [innerHTML]="resumoSobreMim.content.rendered"></div>

        <div class="flex align-self-end mt-16">
            <app-button
                label="Sobre mim"
                variant="accent"
                size="medium"
                link="/sobre-mim"></app-button>
            
        </div>
        
    </div>

</div>
<div class="rdf__services">
    <div class="container mx-auto">
        <fieldset class="flex flex-row justify-end">
            <legend class="text-6xl">Serviços</legend>
        </fieldset>
        <fieldset *ngFor="let categoria of categorias">
            <ul class="justify-between ml-0 mb-8 mt-16 pl-0 list-none grid grid-cols-2">
                <li *ngFor="let servico of servicosPorCategoria[categoria.id]" class="flex items-center mb-8 h-16">
                    <img *ngIf="servico.acf?.icone_do_servico" [src]="servico.acf?.icone_do_servico" [alt]="servico.acf.nome_do_servico" class="h-16 w-16">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">{{servico.acf?.nome_do_servico}}</p>
                </li>
            </ul>
        </fieldset>
        <!--<fieldset>
            <legend class="text-6xl">Serviços</legend>
            <ul class="justify-between ml-0 mb-8 mt-16 pl-0 list-none grid grid-cols-2">
                <li class="flex col-6 items-center mb-8 h-16">
                    <img src="../../../assets/images/consultoria-financeira-pessoal-familiar.png" class="h-16 w-16" alt="ícone do serviço de Consultoria Financeira">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Consultoria Financeira</p>
                </li>
                <li class="flex col-6 items-center mb-8 h-16">
                    <img src="../../../assets/images/planejamento-aposentadoria.png" class="h-16 w-16" alt="ícone do serviço de Planejamento de Aposetadoria">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Planejamento de Aposentadoria</p>
                </li>
                <li class="flex col-6 items-center mb-8 h-16">
                    <img src="../../../assets/images/planejamento-investimentos.png" class="h-16 w-16" alt="ícone do serviço de Planejamento de Investimentos">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Planejamento de Investimentos</p>
                </li>
                <li class="flex col-6 items-center mb-8 h-16">
                    <img src="../../../assets/images/gestao-dividas.png" class="h-16 w-16" alt="ícone do serviço de Gestão de Dívidas">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Gestão de Dívidas</p>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <ul class="justify-between ml-0 mb-8 mt-16 pl-0 list-none grid grid-cols-2">
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/design-interfaces-ui.png" class="h-16 w-16" alt="ícone do serviço de Design de Interfaces de Usuário (UI)">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Design de Interfaces de Usuário (UI)</p>
                </li>
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/design-responsivo.png" class="h-16 w-16" alt="ícone do serviço de Design Responsivo">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Design Responsivo</p>
                </li>
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/prototipagem-wireframing.png" class="h-16 w-16" alt="ícone do serviço de Prototipagem e Wireframing">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Prototipagem e Wireframing</p>
                </li>
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/identidade-visual.png" class="h-16 w-16" alt="ícone do serviço de Design de Marca e Identidade Visual">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Design de Marca e Identidade Visual</p>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <ul class="justify-between ml-0 mb-8 mt-16 pl-0 list-none grid grid-cols-2">
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/desenvolvimento-websites.png" class="h-16 w-16" alt="ícone do serviço de Desenvolvimento de Websites">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Desenvolvimento de Websites</p>
                </li>
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/desenvolvimento-aplicacoes-web.png" class="h-16 w-16" alt="ícone do serviço de Desenvolvimento de Aplicações Web">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Desenvolvimento de Aplicações Web</p>
                </li>
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/desenvolvimento-temas-wp.png" class="h-16 w-16" alt="ícone do serviço de Desenvolvimento de Temas para WordPress">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Desenvolvimento de Temas para WordPress</p>
                </li>
                <li class="flex items-center mb-8 h-16">
                    <img src="../../../assets/images/otimizacao-performances-website.png" class="h-16 w-16" alt="ícone do serviço de Otimização de Performance de Websites">
                    <p class="rdf__services-text text-2xl ml-4 text-neutral-100">Otimização de Performance de Websites</p>
                </li>
            </ul>
        </fieldset>-->
    </div>
</div>
<div class="rdf__portfolio">
    <div class="container mx-auto">
        <fieldset class="flex flex-row justify-end">
            <legend class="text-6xl">Portfolio</legend>
        </fieldset>
        <div class="flex flex-col justify-start text-neutral-100">
            <p class="text-base mt-[32px]">Confira alguns dos meus projetos recentes em planejamento financeiro, design de UI e desenvolvimento web.</p>
            <ul class="list-group list-group-flush rdf__portfolio-descrition">
                <li class="list-group-item text-neutral-100">
                    <h3 class="text-3xl mb-[16px]">Desenvolvimento de website para empresa de obras</h3>
                    <p class="text-base">Desenvolvemos um site moderno e responsivo para uma empresa do segmento de construção civil. Utilizamos o Wordpress, uma ferramenta de gerenciamento de conteúdos, para dar total liberdade de atualização e gestão do site para o cliente.</p>
                </li>
            </ul>
            <p class="flex justify-start mt-[16px]">
                <app-button
                    label="Veja mais informações"
                    variant="accent"
                    size="large"
                    link=""></app-button>
            </p>
            
        </div>
    </div>
</div>

