/* You can add global styles to this file, and also import other style files */
@import "../public/assets/variables";
@import "../public/assets/mixins";


  
body{
    font-family: $primary-font;
    font-weight: map-get($font-weights, light );
    line-height: $line-height-regular;
}

.navbar>.container-fluid{
    padding: 0;
}
.navbar{
    @extend .bg-primary-100;
    padding: 0;

    .navbar-brand,
    .nav-item,
    .nav-link{
        padding: 0 !important;
    }
    
}
.rdf__link{
    @extend .text-highlight-500;
}
.rdf__button{
    &-primary{
        @extend .bg-accent-100;
        @extend .text-background-100;
    }
}

.rdf__element{
    display: flex;
    width: 155px;
    flex-direction: column;
    @extend .bg-background-100;
    @extend .text-neutral-100;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-right: 1px solid $neutral-100;
    border-bottom: 1px solid $neutral-100;
    border-top: 1px solid $neutral-100;

    &-number{
        font-size: map-get($font-sizes, regular);
        margin: 0;
    }
    &-symbol{
        font-size: 2*map-get($font-sizes, biggest);
        margin: 0;
        font-weight: map-get($font-weights, medium);
    }
    &-name{
        font-size: map-get($font-sizes, regular);
        margin: 0;
    }
    &.rdf__element-logo{
        @extend .bg-highlight-100;
    }

    &:hover{
        @extend .bg-highlight-100;
    }
}

.rdf__line{
    height: 12px;
    @extend .bg-accent-100;
    margin-bottom: 32px;
}

.rdf__title{
    padding: 64px 0;

    ul{
        list-style: none;
        padding-left: 0;

        .h2{
            font-size: 2*map-get($font-sizes, biggest);
            font-weight: map-get($font-weights, bold );
        }
    }
}
.rdf__info{
    @extend .bg-primary-100;
    padding: 64px 0;

    p{
        @extend .bg-primary-100;
        @extend .text-background-100;
        font-family: $primary-font;
        font-size: map-get($font-sizes, regular)
    }

    .rdf__button-primary{
        margin-top: 64px;
    }
}
.rdf__banner{
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;

    &-image{
        width: 100%;
        height: auto;
        display: block;
    }

    &-text{
        position: absolute;
        top: 64px;
        left: 0;
        @extend .text-background-100;

        p{
            font-size: 64px;
            font-family: $primary-font;
            line-height: 0.75;
            font-weight: map-get($font-weights, bold);
        }

        &.container{
            width: 90%; /* Ajuste de acordo com o quanto você quer que o texto ocupe */
            max-width: 1200px; /* Limite de largura */
            margin-left: 15%; /* Centraliza o container horizontalmente */
        }

        .rdf__button-primary{
            margin-top: 64px;
        }
    }
}
.rdf__services{

    padding: 96px 0 64px;

    fieldset{
        border-top: 1px solid $neutral-100;

        legend{
            margin-top: -55px;
            @extend .bg-background-100;
            width: 290px;
            font-size: 2*map-get($font-sizes, biggest);
            font-weight: map-get($font-weights, bold);
        }
    }

    &-list{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 96px;

        li{
            height: 64px;
            margin-bottom: 32px;
        }

        img{
            width: 64px;
            height: 64px;
        }
    }

    &-text{
        font-family: $primary-font;
        font-size: map-get($font-sizes, biggest);
        margin-left: 16px;
    }
}
.rdf__portfolio{

    padding: 96px 0 64px;

    fieldset{
        border-top: 1px solid $neutral-100;


        legend{
            margin-top: -55px;
            @extend .bg-background-100;
            width: 290px;
            font-size: 2*map-get($font-sizes, biggest);
            font-weight: map-get($font-weights, bold);
            text-align: right;
        }
    }

    &-descrition{
        margin-top: 45px;

        .list-group-item{
            padding: 0;;
        }
    }
}
footer{
    @extend .bg-primary-100;
    display: block;
    padding-top: 120px;

    .rdf__footer{
        .rdf__logo{
            width: 165px;
            height: 165px;
        }

        .rdf__footer-info{
            margin-bottom: 253px;
        }
    }
}