@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/assets/variables";
@import "../public/assets/mixins";

//Elemento da tabela periodica
.rdf__element{
    width: 100px;
    height: 100px;
    @extend .bg-background-100;
    @extend .text-neutral-100;

    padding: 8px;
    border: 1px solid $neutral-100;
    
    &-number,
    &-symbol,
    &-name{
        margin: 0;
    }
    
    &.rdf__element-logo{
        @extend .bg-highlight-100;
    }

    &:hover{
        @extend .bg-highlight-100;
    }
}
.rdf__title{
    padding: 64px 0;

    ul{
        list-style: none;
        padding-left: 0;
    }
}
.navbar{
    @extend .bg-primary-100;
}

.rdf__banner{
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;

    &-image{
        width: 100%;
        height: auto;
        display: block;
    }

    &-text{
        position: absolute;
        top: 64px;
        left: 0;
        

        p{
            font-size: 64px;
            font-family: $primary-font;
            line-height: 0.75;
            font-weight: map-get($font-weights, bold);
            @extend .text-background-100;
        }

        &.container{
            width: 90%; /* Ajuste de acordo com o quanto você quer que o texto ocupe */
            max-width: 1200px; /* Limite de largura */
            margin-left: 15%; /* Centraliza o container horizontalmente */
        }

        .rdf__button-primary{
            margin-top: 64px;
        }
    }
}

.rdf__info{
    @extend .bg-primary-100;
    padding: 64px 0;

    p{
        
        @extend .text-background-100;
    }
}

