<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p>
        <label>Nome</label>
        <input id="name" type="text" formControlName="name" class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 border-neutral-100 border">
    </p>
    <p>
        <label>E-mail</label>
        <input id="email" type="email" formControlName="email" class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 border-neutral-100 border">
    </p>
    <p>
        <label>Assunto</label>
        <input id="subject" type="text" formControlName="subject" class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 border-neutral-100 border">
    </p>
    <p>
        <label>Mensagem</label>
        <textarea id="message" formControlName="message"></textarea>
    </p>

    <button type="submit" [disabled]="!contactForm.valid" class="btn rdf__button-accent-medium">Enviar</button>
</form>
