<div *ngIf="successMessage" class="mb-4 p-4 rounded bg-green-100 text-green-800 border border-green-300">
  {{ successMessage }}
</div>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p class="mb-4">
        <label>Nome</label>
        <input 
            id="name" 
            type="text" 
            formControlName="name" 
            class="block w-full min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 border-neutral-100 border"
             [ngClass]="{
           'border-red-500': contactForm.get('name')?.invalid && (contactForm.get('name')?.touched || submitted)
         }" 
        >
        <small class="text-red-500" *ngIf="contactForm.get('name')?.errors?.['required'] && (contactForm.get('name')?.touched || submitted)">Campo obrigatório</small>
    </p>
    <p class="mb-4">
        <label>E-mail</label>
        <input 
            id="email" 
            type="email" 
            formControlName="email" 
            class="block w-full min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 border-neutral-100 border"
            [ngClass]="{'border-red-500': contactForm.get('email')?.invalid && submitted}"
        >
        <small class="text-red-500" *ngIf="contactForm.get('email')?.errors?.['required'] && submitted">Campo obrigatório</small>
        <small class="text-red-500" *ngIf="contactForm.get('email')?.errors?.['email'] && submitted">E-mail inválido</small>
    </p>
    <p class="mb-4">
        <label>Assunto</label>
        <input 
            id="subject" 
            type="text" 
            formControlName="subject" 
            class="block w-full min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 border-neutral-100 border"
            [ngClass]="{'border-red-500': contactForm.get('subject')?.invalid && submitted}"
        >
        <small class="text-red-500" *ngIf="contactForm.get('subject')?.invalid && submitted">Campo obrigatório</small>
    </p>
    <p class="mb-4">
        <label>Mensagem</label>
        <textarea 
            id="message" 
            formControlName="message" 
            class="block w-full h-[200px] min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 border-neutral-100 border"
            [ngClass]="{'border-red-500': contactForm.get('message')?.invalid && submitted}"
        ></textarea>
        <small class="text-red-500" *ngIf="contactForm.get('messsage')?.invalid && submitted">Campo obrigatório</small>
    </p>

    <button type="submit" [disabled]="!contactForm.valid" class="btn rdf__button-accent-medium">Enviar</button>
</form>
